﻿@using WebPoralCore.Domain.Entities
@{
    ViewData["Title"] = "Products Page";
}

<h1>Store</h1>
@{
    var isAdmin = User.IsInRole(Role.ROLE_ADMINISTRATOR);

    if (isAdmin)
    {
        <div>You can edit products, because you are an Admin</div>
    }
    else
    {
        <div>You can view products only, because you are regular User</div>
    }
}

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <table>
        <tr>
            <th style="width:150px">
                Title
            </th>
            <th style="width:150px">
                Units
            </th>
            <th style="width:150px">
                Price
            </th>
            <th style="width:150px">
                Action
            </th>
        </tr>
        @{
            var prods = (IEnumerable<Product>)ViewBag.Products;
            foreach (var product in prods)
            {
                <tr>
                    <td>
                        @product.Title
                    </td>
                    <td>
                        @product.Unit
                    </td>
                    <td>
                        @product.Price
                    </td>
                    <td>
                        @if (isAdmin)
                        {
                            <a asp-area="" asp-controller="Product" asp-action="Edit">Edit</a>
                            <a asp-area="" asp-controller="Product" asp-action="Delete">Delete</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Product" asp-action="Buy">Buy</a>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</form>
