﻿@model WebPortalCore.Models.LoginViewModel

<h2>Login page</h2>

<a asp-action="Register" asp-controller="Account">Register</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Email">Enter Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Enter password</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn" />
        </div>
    </div>
</form>


<p>
    admin login & password: admin@gmail.com 12345
    <br/>
    user login & password: user@gmail.com 12345
</p>