﻿@using WebPoralCore.Domain.Entities
@{
    ViewData["Title"] = "Home Page";
}

<h1>Wellcome to our Portal</h1>
@{
    if (User.IsInRole(Role.ROLE_ADMINISTRATOR))
    {
        <div>You can edit products, because you are an Admin</div>
    }
    else
    {
        <div>
            You can view products only, because you are regular User
            <br/>
            <span>Try this link to check access <a asp-area="" asp-controller="Product" asp-action="Create">Create product</a></span>
        </div>
    }
}
